<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.css">
</head>
<body>
    <div class="top-header">
        <div class="container">
           <div style="display: flex; justify-content: space-between;">
            <div class="left-top-header">
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i> contact@tss.com</p>
            <p><i class="fa fa-mobile" aria-hidden="true"></i> +91 54751 12478</p>
           </div>
           <div class="right-top-header">
            <ul class="top-header-menu">
                <li>
                    <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </li>
            </ul>
           </div>
           </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="nav">
                <h1>Impact</h1>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>
            <div class="hero">
                <div class="hero-left">
                    <h1>Welcome to Impact</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi corrupti reprehenderit expedita ipsam tempore.</p>
                    <a href="">Get Started</a>
                </div>
                <div class="hero-right"></div>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="container" style="display: flex; justify-content: space-between;">
            <div class="items-box">
                <i class="fa fa-3x fa-television" aria-hidden="true"></i>
                <h2>Lorem Ipsum</h2>
            </div>
            <div class="items-box">
                <i class="fa fa-3x fa-map-marker" aria-hidden="true"></i>
                <h2>Lorem Ipsum</h2>
            </div>
            <div class="items-box">
                <i class="fa fa-3x fa-comments-o" aria-hidden="true"></i>
                <h2>Lorem Ipsum</h2>
            </div>
            <div class="items-box">
                <i class="fa fa-3x fa-diamond" aria-hidden="true"></i>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <!-- <div class="about"></div> -->
            <div class="about">
                <h1 class="about-title">About Us</h1>
                <div class="saparator"></div>
                <p class="about-title-para">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <div style="display: flex; justify-content: space-between;">
                    <div class="about-left">
                        <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, eius.</h1>
                        <img src="https://bootstrapmade.com/content/demo/Impact/assets/img/about.jpg" />
                        <p>Temporibus nihil enim deserunt sed ea. Provident sit expedita aut cupiditate nihil vitae quo officia vel. Blanditiis eligendi possimus et in cum. Quidem eos ut sint rem veniam qui. Ut ut repellendus nobis tempore doloribus debitis explicabo similique sit. Accusantium sed ut omnis beatae neque deleniti repellendus.</p>
                    </div>
                    <div class="about-right">
                        <p class="light-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente eveniet, minus perspiciatis facere, numquam ipsum necessitatibus.</p>
                        <Br />
                        <p class="about-right-check"><i class="green-text fa fa-2x fa-check-circle" aria-hidden="true"></i>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="about-right-check"><i class="green-text fa fa-2x  fa-check-circle" aria-hidden="true"></i>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                        <p class="about-right-check"><i class="green-text fa fa-2x  fa-check-circle" aria-hidden="true"></i>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</p>
                        <img src="https://bootstrapmade.com/content/demo/Impact/assets/img/about-2.jpg" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="product">
        <div class="container">
            <h1>Portfolio</h1>
            <div class="saparator"></div>
            <div class="product-content">
                <div class="product-box">
                    <img src="https://bootstrapmade.com/content/demo/Impact/assets/img/portfolio/app-1.jpg" />
                    <h3>App 1</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, alias?</p>
                </div>
                <div class="product-box">
                    <img src="https://bootstrapmade.com/content/demo/Impact/assets/img/portfolio/product-1.jpg" />
                    <h3>App 1</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, alias?</p>
                </div>
                <div class="product-box">
                    <img src="https://bootstrapmade.com/content/demo/Impact/assets/img/portfolio/branding-1.jpg" />
                    <h3>App 1</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, alias?</p>
                </div>
                <div class="product-box">
                    <img src="https://bootstrapmade.com/content/demo/Impact/assets/img/portfolio/app-3.jpg" />
                    <h3>App 1</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, alias?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>