<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.css">
</head>
<body>
    <div class="top-header">
        <div class="container">
           <div style="display: flex; justify-content: space-between;">
            <div class="left-top-header">
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i> contact@tss.com</p>
            <p><i class="fa fa-mobile" aria-hidden="true"></i> +91 54751 12478</p>
           </div>
           <div class="right-top-header">
            <ul class="top-header-menu">
                <li>
                    <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </li>
            </ul>
           </div>
           </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="nav">
                <h1>Impact</h1>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>
            <div class="hero">
                <div class="hero-left">
                    <h1>Welcome to Impact</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi corrupti reprehenderit expedita ipsam tempore.</p>
                    <a href="">Get Started</a>
                </div>
                <div class="hero-right"></div>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="container" style="display: flex; justify-content: space-between;">
            <div class="items-box">
                <i class="fa fa-3x fa-television" aria-hidden="true"></i>
                <h2>Lorem Ipsum</h2>
            </div>
            <div class="items-box">
                <i class="fa fa-3x fa-map-marker" aria-hidden="true"></i>
                <h2>Lorem Ipsum</h2>
            </div>
            <div class="items-box">
                <i class="fa fa-3x fa-comments-o" aria-hidden="true"></i>
                <h2>Lorem Ipsum</h2>
            </div>
            <div class="items-box">
                <i class="fa fa-3x fa-diamond" aria-hidden="true"></i>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
    </div>
    <div class="content"></div>
    <div class="about"></div>
    <div class="product"></div>
    <div class="footer"></div>
</body>
</html>