.header .navbar-brand{
    font-size: 2em;
}

.text-red{
    color : #ce1212;
}
.bg-red{
    background-color: #ce1212;
}
.btn-red{
    background-color: #ce1212 !important;
    border-radius: 20px !important;
    color : #fff !important;
}
.bg-gray{
    background-color: #d6d6d6;
}
.text-gray{
    color: #969696;
}
.hero{
    min-height: 500px;
}
.hero-img{
    height: 400px;
    width: 100%;
    background-image: url("../images/hero-img.png");
    background-size: 100% 100%;
    animation-name: myanim;
    position: relative;
    top : 50px;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes myanim {
    0%{ top: 50px;}
    50%{ top: 30px;}
    100%{ top: 50px;}
}
.about-left-img{
    width: 100%;
}
.btn-red-light{
    background-color: #e24a4a !important;
    color: #fff !important;
    border-radius: 20px !important;
}
.btn-red-light:hover{
    background-color: #fff !important;
    color: #ce1212 !important;
}
.bg-pink{
    background-color: #e1c7c7;
}
.badge{
    transition: 1s;
}
.info:hover{
    cursor: pointer;
}
.info:hover .badge{
    background-color: #ce1212;
    
}
.info:hover i{
    color: #fff !important;
}